#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #94ff42, #1e4b02);
}

.login-container {
  background-color: rgb(234, 234, 234);
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
  text-align: center;
}

.login-container h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: rgb(0, 0, 0);
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #000000;
}

.input-group input {
  font-size: 1.05rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
}


.input-group input:focus {
  outline: 1.5px solid #333;
}

button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #036100;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #024200;
}

button:active {
  background-color: #023000;
}

.loginError {
  text-align: left;
  color: red;
  font-size: .9rem;
  
}