<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='preconnect' href='https://fonts.googleapis.com'>
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link rel='stylesheet' href='https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css'>
  <link
    href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'
    rel='stylesheet'>
  <link href='/styles/notify.css' rel='stylesheet' type='text/css'>
  <link href='/styles/password.css' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/js/notify.js"></script>

  <title>Inicio sesión - Novatadas Informática</title>
  <style>
    :root {
      line-height: 1.5;
      font-weight: 400;

      color-scheme: light dark;
      color: #333;
      background-color: #1B1B1B;

      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    * {
      font-family: 'DM Sans', Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
      box-sizing: border-box;
    }

    #root {
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    }

    .login-container {
      width: 22rem;
      background-color: #ececec;
      padding: 2.5rem 3rem;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, .6);
      text-align: center;
    }

    .input-group {
      margin-bottom: 1rem;
      text-align: left;
    }

    .input-group input {
      font-size: 1.05rem;
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #b5b5b5;
      color: #20211d;
      border-radius: 5px;
      background-color: #fafafa;
      outline: 0;
    }

    .input-group input:focus {
      border: 1px solid #357aa8;
    }

    .loginButton {
      width: 100%;
      padding: 0.75rem;
      border-radius: 7px;
      color: #357aa8;
      font-size: 1.2rem;

      font-weight: bolder;
      cursor: pointer;
      background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%) border-box;
      border: 2px solid transparent;
    }

    .loginButton:hover {
      color: white;
      background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%) padding-box,
        linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%) border-box;
    }

    .loginButton:active {
      color: white;
      background: linear-gradient(135deg, #5c86a2 0%, #6a6da6 100%) padding-box,
        linear-gradient(135deg, #5c86a2 0%, #6a6da6 100%) border-box;
    }

    .loginError {
      text-align: left;
      color: #ff0f0f;
      font-size: .9rem;
    }

    .title-session {
      font-size: 2rem;
      font-weight: bolder;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      background: -webkit-linear-gradient(#8BC6EC 0%, #9599E2 85%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: solid 1px rgba(255, 255, 255, 0.3);
      padding-bottom: .7rem;
      margin: 0 0 .7rem 0;
    }

    .label-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .5rem;
      color: #474747;
      padding-bottom: .5rem;
    }
  </style>
</head>

<body>

  <div class='notify-container'>
    <i id='notify-icon'></i>
    <div class='notify-text'></div>
  </div>

  <div class='login-container'>
    <h2 class='title-session'>Iniciar Sesión</h2>
    <form id='login-form'>
      <div class='input-group'>
        <div class='label-container'>
          <i class='fa-solid fa-id-card'></i>
          <label for='username'>DNI</label>
        </div>
        <input type='text' id='username' name='username' />
      </div>
      <div class='input-group'>
        <div class='label-container'>
          <i class='fa-solid fa-key'></i>
          <label for='password'>Contraseña</label>
        </div>
        <div class='password-container'>
          <input type='password' id='password' name='password' />
          <button class='hide-password' type='button'>
            <i class='fa-regular fa-eye'></i>
          </button>
        </div>
      </div>
      <button type='submit' class='loginButton'>Iniciar sesión</button>
    </form>
  </div>
  <script>

    const $ = (selector) => document.querySelector(selector)

    const loginForm = $('#login-form')
    const hidePassBtn = $('.hide-password')
    const passwordInput = $('#password')

    let hidePass = false

    loginForm?.addEventListener('submit', (event) => {
      event.preventDefault()
      const username = $('#username').value
      const password = $('#password').value

      if (!username || !password) return notify('Por favor, rellena todos los campos.', 1000)

      fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          dni: username.toUpperCase(),
          password
        })
      })
        .then(res => res.json())
        .then((data) => {
          if (data.err) {
            notify(data.err, 1000)
          } else {
            window.location.href = '/scoreboard'
          }
        })
    })

    hidePassBtn.addEventListener('click', (event) => {
      event.preventDefault()

      hidePass = !hidePass

      if (hidePass) {
        $('.hide-password i').classList.remove('fa-eye')
        $('.hide-password i').classList.add('fa-eye-slash')

        passwordInput.type = 'text'
      } else {
        $('.hide-password i').classList.remove('fa-eye-slash')
        $('.hide-password i').classList.add('fa-eye')

        passwordInput.type = 'password'
      }
    })

  </script>
</body>

</html>