<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= userToShow.name %></title>
  <link href="/styles/navLayout.css" rel="stylesheet" type="text/css">
  <style>
    h1 {
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>
    <%= userToShow.name %>
  </h1>
</body>

</html>