.password-container {
  position: relative;
}

.hide-password {
  border: 0;
  position: absolute;
  top: 50%;
  right: 1%;
  width: fit-content;
  transform: translateY(-50%);
  transition: background-color 0.2s ease;
  color: #357aa8;
  background: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.hide-password:hover {
  color: #888;
  background: transparent;
  border: 0;
}